* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/*--------Utility classes--------*/

.righteous {
    font-family: 'Righteous', sans-serif;
}

.retro-1 {
    background-color: #F2D8B3;
}

.retro-2 {
    background-color: #FBD266;
}

.retro-3 {
    background-color: #8FB0A9;
}

.retro-4 {
    background-color: #D76735;
}

.retro-5 {
    background-color: #F9EDDC;
}

.retro-6 {
    background-color: #FDEAB9;
}

.retro-7 {
    background-color: #CCDBD7;
}

.retro-8 {
    background-color: #ECB9A3;
}

body {
    background-color: #FCEFDF;
}

h2 {
    text-align: center;
}

p {
    font-size: 16px;
    text-align: justify;
}

ul {
    font-size: 15px;
}

/*--------Navbar--------*/

.navbar {
    background: #db8a74;
}

.navbar-header .navbar-brand {
    color: #FBD266;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #FBD266;
}

.navbar-default .navbar-nav>li>a {
    color: #FBD266;
}

/*--------Showcase--------*/
#showcase {
    background: url('../assets/img/background.jpeg') no-repeat center center/cover fixed;
    height: 100vh;
    position: relative;
}

#showcase .overlay {
    background-color: rgba(215,103,53,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#showcase .overlay h1,
#showcase .overlay p {
    font-family: 'Righteous', sans-serif;
    background-color: rgba(143,176,169,0.9);
    padding: 20px;
    color: #CCDBD7;
}

#showcase .overlay h1 {
    font-size: 40px;
}

#showcase .overlay p {
    margin-top: 20px;
    font-size: 22px;
}

#showcase .overlay a {
    display: inline-block;
    position: absolute;
    bottom: 50px;
    text-decoration: none;
    color: #CCDBD7;
    transition: all .2s ease-in-out
}

#showcase .overlay a:hover {
    transform: scale(1.2);
}


/*--------Band Info--------*/
#band-info .wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#band-info .wrapper figure {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 10px 47px -17px rgba(0,0,0,0.61);
}

#band-info .wrapper figure img {
    border-radius: 50%;
    margin: 20px 0 0;
    padding: 5px;
    background-color: #fff;
}

#band-info .wrapper figure h3 {
    margin-top: 10px;
}

#band-info .wrapper figure p {
    padding: 0 10px;
    text-align: justify;
}

/*--------Media--------*/
#media .wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#media .wrapper figure {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 10px 47px -17px rgba(0,0,0,0.61);
}

#media .wrapper figure img {
    margin: 20px;
    padding: 5px;
    background-color: #fff;
}

#media .wrapper figure audio {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

#media .wrapper figure a {
    text-decoration: none;
    color: #333333;
    font-size: 18px;
}

#media .video {
    margin: 20px 10px 30px 10px;
    padding: 20px 10px;
    border-radius: 30px;
    box-shadow: 10px 10px 47px -17px rgba(0,0,0,0.61);
}

#media .video figure {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-top: 20px;*/
}

/*--------Concerts--------*/

#concerts .container ul {
    list-style: none;
    padding: 10px;
    background-color: #FDFAF5;
    box-shadow: 10px 10px 47px -17px rgba(0,0,0,0.61);
    border-radius: 10px;
}


/*--------Contact form--------*/
.contact-form form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 20px 20px 40px;
    background-color: #8FB0A9;
    border-radius: 10px;
    box-shadow: 10px 10px 47px -17px rgba(0,0,0,0.61);
}

.contact-form form input,
.contact-form form textarea {
    padding: 5px;
    margin-bottom: 10px;
}

.contact-form form input:last-child {
    margin-bottom: 0;
    border: 0;
    border-radius: 5px;
}
/*--------Socials--------*/

.contact-form ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform: translateY(-45px);
    margin: 0;
}

.contact-form li a {
    text-decoration: none;
}

.contact-form li a i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fafafa;
    background: #8f8f8f;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.contact-form li a i:hover {
    transform: scale(1.1);
}

.contact-form li a .fb:hover {
    background: #4267B2;
}

.contact-form li a .tw:hover {
    background: #1DA1F2;
}

.contact-form li a .yt:hover {
    background: #FF4040;
}

/*--------Footer--------*/

footer {
    height: 8vh;
    background-color: #db8a74;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #ffffff;
    margin: 0;
}

@media (min-width: 768px) {
    #band-info .wrapper > *,
    #media .wrapper > * {
        flex: 1 1 240px;
    }
}

/*@media (min-width: 991px) {*/
/*    #band-info .wrapper > *,*/
/*    #media .wrapper > * {*/
/*        flex: 1;*/
/*        max-width: 240px;*/
/*    }*/
/*}*/

/*@media (max-width: 1200px) {*/
/*    #band-info .wrapper > *,*/
/*    #media .wrapper > * {*/
/*        flex: 1 1 240px;*/
/*    }*/
/*}*/




